#books{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    gap: 4px;
}

.card{
    border: 1px solid black;
    padding: 4px;
    width: fit-content;
    white-space: nowrap;
}

.card img{
    width: 120px;
}