* {box-sizing: border-box;}
html { font-family: sans-serif;}
body { 
    margin: 0;
    height: 100vh;
    color: orange;
    background-image: url("./pics/329nap_tolgyesben.jpg");
    background-size: cover; 
    background-attachment: fixed;
}
body>div {
    min-height: 100vh;
    background-color: rgba(255,255,255,.4);
}
header h1 span { 
    float: inline-end;
    font-size: 1.2rem;
}

#main {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
}
#main figure { 
    order: 1;
    width: 280px;
    background-color: rgba(0, 0, 0, .7);
    border-radius: 10px;
    box-shadow: 4px 4px 4px black;
    padding: .5rem;
    display: flex;
    flex-flow: column;
    text-align: center;
}
#main figcaption { 
    margin-top: 1rem;
    font-size: 1.25rem;
}

#main figure img { 
    width: 100%; margin: .5rem auto;
    border-radius: 5px;
    box-shadow: 0px 0px 5px white;
}

header, footer {
    color: whitesmoke; 
    font-weight: bold;
    position: sticky;
    top: 0;
    padding: .1rem 1rem;
    text-shadow: 1px 1px 4px black;
}

footer {
    bottom: 0;
    text-align: right;
}